* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  background-image: url(./images/bg-2.jpg);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 6;
  cursor: none;
}

ul {
  list-style: none;
}

/* NAVBAR
=========================== */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  z-index: 100;
}

.navbar > div {
  padding: 0 30px;
  font-size: 20px;
}


.navbar .lang {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}


/* SOCIAL MEDIA
=========================== */
.media ul {
  position: absolute;
  bottom: 250px;
  left: -150px;
  transform: rotate(-90deg);
  z-index: 500;
}

.media ul li {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  padding: 0 30px;
  z-index: 500;
  
}


/* TEXT
=========================== */
.text {
  position: absolute;
  top: 200px;
  left: 100px;
  z-index: 2;
  width: 50%;
  
}

/* .text h1 {
  font-size: 120px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -10px;
  margin-bottom: 20px;

  position: relative;
  overflow: hidden;
  height: 150px;
  width: 600px;
}
.text h1 .hidetext img {
  position: absolute;
  z-index: 8;
  border: yellowgreen 5px solid;
} */

.text h2 {
  position: absolute;
  top: 5px;
  left: -80px;
  color: rgb(26, 137, 189);
  z-index: -1;
  font-size: 150px;
  font-weight: 600;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.text h3 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;

  position: relative;
  overflow: hidden;
  height: 80px;
}
.text h3 .hidetext {
  position: absolute;
}

.text p {
  width: 200px;
  font-size: 12px;
  margin-top: 30px;
  font-weight: 500;

  position: relative;
  overflow: hidden;
  height: 110px;
}
.text p .hidetext {
  position: absolute;
}


/* SPONSOR
=========================== */
.sponsor {
  position: absolute;
  right: 100px;
  bottom: 100px;
  text-align: center;
  z-index: 6;
}

.sponsor a{
  text-decoration: none;
  color: yellow;
}

/* DISTORTION
=========================== */


.distortion{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  
 
}

/* OVERLAY
=========================== */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 99;
}

.first {
  background-image: url(./images/1.jpg);
}

.second {
  background-image: url(./images/2.jpg);
  left: 33.3%;
}

.third {
  background-image: url(./images/3.jpg);
  left: 66.6%;
}




/*===================================*/

@font-face {
  font-family: Cyber;

  font-display: swap;
}



.media ul li a {
  text-decoration: none;
  color: black;
}


.cybr-btn {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
  --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
  --primary-hue: 0;
  --primary-lightness: 50;
  --color: hsl(0, 0%, 0%);
  --font-size: 26px;
  --shadow-primary-hue: 180;
  --label-size: 9px;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
  --border: 4px;
  --shimmy-distance: 5;
  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
  font-family: 'Cyber', sans-serif;
  color: var(--color);
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 2px;
  position: relative;
  font-weight: 700;
  border: 0;
  min-width: 300px;
  height: 75px;
  line-height: 75px;
  transition: background 0.2s;
}

.cybr-btn:hover {
  --primary: hsl(0, 97%, 0%);
  cursor: none;
}
.cybr-btn:active {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%));
}

.cybr-btn:after,
.cybr-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.cybr-btn:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
}

.cybr-btn:after {
  background: var(--primary);
}

.cybr-btn__tag {
  position: absolute;
  padding: 1px 4px;
  letter-spacing: 1px;
  line-height: 1;
  bottom: -5%;
  right: 5%;
  font-weight: normal;
  color: hsl(0, 0%, 0%);
  font-size: var(--label-size);
}

.cybr-btn__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 2s infinite;
  display: none;
}

.cybr-btn:hover .cybr-btn__glitch {
  display: block;
  cursor: none;
}

.cybr-btn__glitch:before {
  content: '';
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: var(--primary);
  z-index: -1;
}

@keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }
  2%, 8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }
  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  13% {
    clip-path: var(--clip-three);
    transform: translate(0, 0);
  }
  14%, 21% {
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  35%, 45% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }
  40% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }
  50% {
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }
  55% {
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  60% {
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }
  31%, 61%, 100% {
    clip-path: var(--clip-four);
  }
}

.cybr-btn:nth-of-type(2) {
  --primary-hue: 260;
}




/*===================*/

ul{
  display : flex;
  flex-direction: row; 
  
  padding: 2.5% 0;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
 ul .image-container{
  width: 2%;
}

 ul .image-container img{
  width: 100%;
  transition: .5s;
  
 }





 /*====================*/


#cursor{
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px dashed black;
  
  transition: 0.1s;
  transform: translate(-50% , -50%);
  border-radius: 50%;
  pointer-events: none;
  z-index: 60;
  animation: animate 5s linear infinite;
}

#inner{
  width: 10px;
  height: 10px;
  border: 2px dashed black;
  
}


.media ul li:hover ~ #cursor{
  width: 100px;
  height: 100px;
  border: 2px dashed rgb(255, 255, 255);
 

  animation: animate 5s linear infinite;
cursor: none;
}

@keyframes animate{
  0%{
      transform: translate(-50% , -50%) rotate(0deg);
  }

  100%{
      transform: translate(-50% , -50%) rotate(360deg);
  }
}



/*===================*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 950px) {

  .distortion{
    width: 0%;
    height: 0%;
  }

  #cursor{
    width: 0%;
    height: 0%;
  }

  #inner{
    width: 0%;
    height: 0%;
  }

  .media ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
  }
  
  .text {
    position: absolute;
    top: 90px;
    width: 100%;
    left: 200px;
    
    
  }
  .text h2  img{
    width: 80%;
  }



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  body{
    
    background-repeat: no-repeat;
    height: 100%;
     

  }

  .text {
    position: absolute;
    top: 500px;
    
    
  }

}

@media only screen and (max-width: 400px) {
  body{
    width: 100%;
    background-repeat: no-repeat;
    height: 100vh;
     

  }

  .navbar{
    visibility: hidden;
  }

  .text {
    position: absolute;
    top: 400px;
    width: 100%;
    
    
    
  }
  .text h2  img{
    width: 80%;
  }


  .sponsor{
    position: absolute;
    left: 500px;
    width: 10%;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}