@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top{
  position: absolute;
  top: 5%;
  left:5%;
  width: 5%;
  z-index:200;
  
}
.top img{
  width: 100%;
  transform: rotateY(180deg);
}
.ist{
    width: 100%;
    height: auto;
}
.video{
    background:#000;
    width: 100%;
    
   
}

.ist img{
    width: 102%;
    position: absolute;
    top: -5%;
    z-index: 5;
    
}

.contents {
    position: absolute;
    top: 80%;
    background: black;
    width: 100%;
    height: 100vh;
    z-index: 100;
    padding: 0% 5%;
}

.contents-ele1{
   background: transparent;
    width: 100%;
   height: 50vh;
  z-index: 10;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin: 5% 0;
 
}

.trpohy2 {
    background: yellow;
    width: 40%;
    height: 80%;
    border-radius: 0% 10% 0% 10%;
    
    border : 5px solid yellow;
    position: relative;
  
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.trpohy2-img{
    background-image: url(./cisco-lolesports-1920x1080.png);
    background-position: center;
    background-size: cover;
    width: 98%;
    height: 98%;
 
    border-radius: 0% 10% 0% 10%;
    transition: all .5s;
    max-width: 100%;
    
    
  
    transform: scale(1);
   
}
.trpohy:hover .trpohy-img
 {
  transform: scale(1.1);
}

.trpohy2:hover .trpohy2-img
 {
  transform: scale(1.1);
}


.trpohy{
    background: yellow;
    width: 40%;
    height: 80%;
    border-radius: 0% 10% 0% 10%;
    
    border : 5px solid yellow;
    position: relative;
  
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.trpohy-img{
    background-image: url(./United-Masters-League.jpg);
    background-position: center;
    background-size: cover;
    width: 98%;
    height: 98%;
 
    border-radius: 0% 10% 0% 10%;
    transition: all .5s;
    max-width: 100%;
    
    
  
    transform: scale(1);
   
}



.contents-tournament{
    background:black;
    width: 100%;
    height: 50vh;
}



/*=========================*/


.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vmin;
    overflow: hidden;
    transform: skew(5deg);
    height: 150vh;
  }


    .carp {
        background-image: url(./peswe2019_icc.jpg);
        background-position: center;
        background-attachment: fixed;
      flex: 1;
      transition: all 1s ease-in-out;
      height: 100%;
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 1s ease-in-out;
      filter: grayscale(100%);
    }


      .carp:hover {
        flex-grow: 10;
        filter: grayscale(0);
      }


      .card-group{
          margin:  2% 5%  ;
          background-color: black;
         
      }

      .card{
          margin: 0 2%;
          background: yellow;
      }
      .card-body{
          background: yellow;
          text-align: center;
          font-family: 'Luckiest Guy', cursive;
         
      }
      .card-body h4{
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 1px 1px 0 #000;
        color: azure;
      }

      .rotate{
       
        width: 100%;
        padding: 0 5%;
        height: 100%;
        text-align: right;
      }

     


   
    
  





/*===========================*/


.cybr-btn {
    --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
    --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
    --primary-hue: 0;
    --primary-lightness: 50;
    --color: hsl(0, 0%, 100%);
    --font-size: 26px;
    --shadow-primary-hue: 180;
    --label-size: 9px;
    --shadow-secondary-hue: 60;
    --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
    --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
    --border: 4px;
    --shimmy-distance: 5;
    --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
    --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
    --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
    --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
    --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
    font-family: 'Cyber', sans-serif;
    color: var(--color);
    cursor: pointer;
    background: transparent;
    text-transform: uppercase;
    font-size: var(--font-size);
    outline: transparent;
    letter-spacing: 2px;
    position: relative;
    font-weight: 700;
    border: 0;
    min-width: 300px;
    height: 75px;
    line-height: 75px;
    transition: background 0.2s;
  }
  
  .cybr-btn:hover {
    --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.8%));
  }
  .cybr-btn:active {
    --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%));
  }
  
  .cybr-btn:after,
  .cybr-btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--clip);
    z-index: -1;
  }
  
  .cybr-btn:before {
    background: var(--shadow-primary);
    transform: translate(var(--border), 0);
  }
  
  .cybr-btn:after {
    background: var(--primary);
  }
  
  .cybr-btn__tag {
    position: absolute;
    padding: 1px 4px;
    letter-spacing: 1px;
    line-height: 1;
    bottom: -5%;
    right: 5%;
    font-weight: normal;
    color: hsl(0, 0%, 0%);
    font-size: var(--label-size);
  }
  
  .cybr-btn__glitch {
    position: absolute;
    top: calc(var(--border) * -1);
    left: calc(var(--border) * -1);
    right: calc(var(--border) * -1);
    bottom: calc(var(--border) * -1);
    background: var(--shadow-primary);
    text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
    clip-path: var(--clip);
    animation: glitch 2s infinite;
    display: none;
  }
  
  .cybr-btn:hover .cybr-btn__glitch {
    display: block;
  }
  
  .cybr-btn__glitch:before {
    content: '';
    position: absolute;
    top: calc(var(--border) * 1);
    right: calc(var(--border) * 1);
    bottom: calc(var(--border) * 1);
    left: calc(var(--border) * 1);
    clip-path: var(--clip);
    background: var(--primary);
    z-index: -1;
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--clip-one);
    }
    2%, 8% {
      clip-path: var(--clip-two);
      transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }
    6% {
      clip-path: var(--clip-two);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    9% {
      clip-path: var(--clip-two);
      transform: translate(0, 0);
    }
    10% {
      clip-path: var(--clip-three);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    13% {
      clip-path: var(--clip-three);
      transform: translate(0, 0);
    }
    14%, 21% {
      clip-path: var(--clip-four);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    25% {
      clip-path: var(--clip-five);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    30% {
      clip-path: var(--clip-five);
      transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }
    35%, 45% {
      clip-path: var(--clip-six);
      transform: translate(calc(var(--shimmy-distance) * -1%));
    }
    40% {
      clip-path: var(--clip-six);
      transform: translate(calc(var(--shimmy-distance) * 1%));
    }
    50% {
      clip-path: var(--clip-six);
      transform: translate(0, 0);
    }
    55% {
      clip-path: var(--clip-seven);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    60% {
      clip-path: var(--clip-seven);
      transform: translate(0, 0);
    }
    31%, 61%, 100% {
      clip-path: var(--clip-four);
    }
  }
  
  .cybr-btn:nth-of-type(2) {
    --primary-hue: 260;
  }


  /* edrse code kharab hoga */

  body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: #121212; /* fallback for old browsers */
    overflow-x: hidden;
  
    height: 100%;
  
    /* code to make all text unselectable */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  /* Disables selector ring */
  body:not(.user-is-tabbing) button:focus,
  body:not(.user-is-tabbing) input:focus,
  body:not(.user-is-tabbing) select:focus,
  body:not(.user-is-tabbing) textarea:focus {
    outline: none;
  }
  
  /* ########################################################## */
  
  h1 {
    color: white;
  
    font-size: 35px;
    font-weight: 800;
  }
  
  .flex-container {
    width: 100%;
  
    margin-top: 60px;
    padding: 0% 10%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-container {
    width: 100%;
    height: 350px;
  }

  .content-container img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 500px;
    height: 350px;
  
    margin-top: 5px;
    padding-top: 20px;
  
    border-radius: 12px;
  
    display: flex;
    justify-content: center;
    flex-direction: column;
  
    background: #1f1f1f;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
  }
  
  .subtitle {
    font-size: 11px;
  
    color: rgba(177, 177, 177, 0.3);
  }
  
  input {
    border: none;
    border-bottom: solid rgb(143, 143, 143) 1px;
  
    margin-bottom: 30px;
  
    background: none;
    color: rgba(255, 255, 255, 0.555);
  
    height: 35px;
    width: 300px;
  }
  
  .submit-btn {
    cursor: pointer;
  
    border: none;
    border-radius: 8px;
  
    box-shadow: 2px 2px 7px #38d39f70;
  
    background: red;
    color: rgba(255, 255, 255, 0.8);
  
    width: 80px;
  
    transition: all 1s;
  }
  
  .submit-btn:hover {
    color: rgb(255, 255, 255);
  
    box-shadow: none;
  }
  

  .end{
    background-image: url(./end.PNG);
    width: 100%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  @media (max-width:400px){
    .card{
      width: 250%;
      margin-left: 30px;
      padding-bottom: 27%;
      background-color: #000;
      margin-left: 50%;
    }
    .carp{
      background-position: center;
      
    }
    .border-vedio{
      display: none;
    }
    .vedio{
      position: absolute;
    }
    .form-container{
     position: relative;
      margin-left: 5px;
    }
    .contents-ele1{
      width: 300%;;
    }
    .top{
      width: 20%;
    }
    .container-1{
      height: 140vh;
      width: 315%;
    }
    .contents{
      width: 121%;
      background: transparent;
      
    padding-top: 354px;

    }
    .hide{
      display: none;
    }
    .carp{
      height: 80%;
    }

    .rotate{
      margin-bottom: 23%;
      text-align: center;
    }
    .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1174px;
      height: 685px;
      margin-top: 5px;
      padding-top: 20px;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      /* background: #1f1f1f; */
      background-image: url(https://www.animationcareerreview.com/files/images/featured/esports.jpg);
      box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
  }
